---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}
<div>
  <h2>
    蔡凯/Kerncai
  </h2>
  <p class="about">
    linux高级系统工程师/高级数据工程师
  </p>
  <h2>
    链接
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="span3"><i class="icon-github"> </i><span>我的github</span></td>
        <td><a href="https://github.com/kerncai" target="_blank">kerncai @ GitHub</a></td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-weibo"></i> <span>我的微博</span></td>
        <td><a href="http://weibo.com/u/3968250216" target="_blank" >kerncai - 新浪微博</a> </td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-envelope"></i> <span>我的邮箱</span></td>
        <td><a href="mailto:kernkerncai@gmail.com">kerncai @ Gmail</a> </td>
      </tr>
      <tr>
        <td class="span3"><span>我的好友</span></td>
        <td><a href="http://blog.yunlong.me" target="_blank">志同道合 - 云龙</a> </td>
      </tr>

    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include codepiano/comments %}
